gris_oscuro = #444
gris_claro = lighten(gris_oscuro, 40)


footer
	background gris_claro
	color white
	padding 1.5em
	
header
	background gris_oscuro
	color white
	padding 1em
	
	h1
		font-size 18px
		font-weight normal
		margin 0
		padding 0
	
	.logo figure
		border 1px dashed invert(gris_oscuro)
		height 50px	
		width 50px
		
	.avatar
		border 1px dashed invert(gris_oscuro)
		border-radius 50%
		height 50px
		width 50px
		
section
	padding 1.2em
	background gris_claro

	
	article
		background white
		border 1px solid gris_claro
		border-radius 0 0 1em 1em
		margin-bottom 1em
		overflow hidden
		
	figure
		background gris_oscuro
		height 160px
		width 120px
	
	h2
		font-size 18px
		color gris_oscuro
		
	.acciones
		border-top 3px solid gris_claro
		min-height 3em
		padding 1em	
		
	.fecha
		position relative
		right 20px
		
		